[submodule "1-Sudoku"]
	path = 1-Sudoku
	url = https://github.com/andsav/AIND-Sudoku
[submodule "2-Isolation"]
	path = 2-Isolation
	url = https://github.com/andsav/AIND-isolation
[submodule "3-Planning"]
	path = 3-Planning
	url = https://github.com/andsav/AIND-Planning
